doctype html
html
  head
    title= title
    link( rel="stylesheet", href='/components/bootstrap/dist/css/bootstrap.css')
    link( rel="stylesheet", href='/stylesheets/style.css')
    script( src="/components/jquery/jquery.js")
    script( src="/components/bootstrap/dist/js/bootstrap.js")
    script( src="/components/underscore/underscore.js")
    script( src="/components/backbone/backbone.js")
    script( src="/javascripts/base.js")
    script( src="/javascripts/application.js")
  body
    block content
    script(type="text/template", data-name="main")
      include templates/main.html
    script(type="text/template", data-name="header")
      include templates/header.html
    script(type="text/template", data-name="menuLinks")
      include templates/menulink.html
    script( src="/javascripts/init.js")

